{% from "partials/icons.jinja" import icon %}

{% macro type_eyebrow(type) %}
    {% if type == "note" %}
        <p class="page-header__eyebrow page-header__eyebrow--note">{{ icon("note") }} Note</p>
    {% elif type == "todo" %}
        <p class="page-header__eyebrow page-header__eyebrow--todo">{{ icon("todo") }} Todo</p>
    {% elif type == "sticky" %}
        <p class="page-header__eyebrow page-header__eyebrow--sticky">{{ icon("sticky") }} Sticky note</p>
    {% endif %}
{% endmacro %}
